@use '../modules/colors';
@use '../modules/typography';
@use "../modules/mixins";

body {
    color: colors.$gray;
    font-family: typography.$ff-serif;
    line-height: 1.6;
    background: colors.$white;
    font-size: .875rem;

  @include mixins.mq{
    font-size: 1.125rem;
  }
}

img{
  max-width: 100%;
}

h1,h2,p{
  margin-top: 0;
  margin-bottom: 1em;
}

h1{
  color: colors.$light-beige;
  line-height: 1;
  font-size: 3.125rem;

  span{
    @include typography.sans-serif($font-size:5.5rem, $color:colors.$light-beige);
    display: block;
  }
}

h2{
  @include typography.sans-serif($font-size:2rem);

  @include mixins.mq{
    font-size: 3em;
    }
}
