<div class="welcome">
  <h1>Welcome to my <span>Sandbox</span></h1>
</div>

<section class="intro">
  <div class="intro-left">
    <img src="assets/img/welcome-left.jpg" alt="a laptop on a wood table">
  </div>
  <div class="intro-middle">
    <h2>making it happen</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="intro-right">
    <img src="assets/img/welcome-right.jpg" alt="desk with computer screens">
  </div>
</section>

<!--<app-about></app-about>-->

<section class="about-me">
  <img class="about-img" src="assets/img/joe-portfolio.png" alt="a picture of joe Portfolio">
  <h1 class="about-title">Alex Nesteruk</h1>
  <h2 class="about-subtitle">Software Engineer</h2>
  <div class="about-txt">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  iam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<section class="portfolio">
  <h1>My Work</h1>
  <div class="portfolio-items">

    <!-- portfolio item 1 -->
    <figure class="portolio-item featured">
      <img src="assets/img/portfolio-01.jpg" alt="portfolio item">
      <figcaption>
        <h2 class="portfolio-title">Project Name</h2>
        <p class="portfolio-desc">A short description could go here</p>
        <a href="#" class="portfolio-link">more info</a>
      </figcaption>
    </figure>

    <!-- portfolio item 2 -->
    <figure class="portfolio-item">
      <img src="assets/img/portfolio-02.jpg" alt="portfolio item">
      <figcaption>
        <h2 class="portfolio-title">Project Name</h2>
        <p class="portfolio-desc">A short description could go here</p>
        <a href="#" class="portfolio-link">more info</a>
      </figcaption>
    </figure>

    <!-- portfolio item 3-->
    <figure class="portolio-item">
      <img src="assets/img/portfolio-03.jpg" alt="portfolio item">
      <figcaption>
        <h2 class="portfolio-title">Project Name</h2>
        <p class="portfolio-desc">A short description could go here</p>
        <a href="#" class="portfolio-link">more info</a>
      </figcaption>
    </figure>

    <!-- portfolio item 4 -->
    <figure class="portolio-item">
      <img src="assets/img/portfolio-04.jpg" alt="portfolio item">
      <figcaption>
        <h2 class="portfolio-title">Project Name</h2>
        <p class="portfolio-desc">A short description could go here</p>
        <a href="#" class="portfolio-link">more info</a>
      </figcaption>
    </figure>

    <!-- portfolio item 5 -->
    <figure class="portolio-item">
      <img src="assets/img/portfolio-05.jpg" alt="portfolio item">
      <figcaption>
        <h2 class="portfolio-title">Project Name</h2>
        <p class="portfolio-desc">A short description could go here</p>
        <a href="#" class="portfolio-link">more info</a>
      </figcaption>
    </figure>


  </div>
</section>

<section class="contact">
  <h1>contact me</h1>
  <form action="">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Enter your name">

    <label for="email">Email:</label>
    <input type="text" id="email" placeholder="Enter your email">

    <label for="message">Message:</label>
    <textarea id="message" placeholder="Enter your message"></textarea>

  </form>
</section>

<footer>
  <p>Follow me on social media</p>
  <div class="social-icons">
    <img class="social-icon" src="assets/img/github.svg" alt="github">
    <img class="social-icon" src="assets/img/linkedin.svg" alt="linkedin">
    <img class="social-icon" src="assets/img/instagram.svg" alt="instagram">

  </div>

  <p class="copyright">Copyright {{year}} Alex Nesteruk</p>
</footer>
